<h1>Chat</h1>

<div class="chatbot__overview">
  <ul #chat class="chatlist" *ngIf="messages$ | async as messages">
    <li
      *ngFor="let message of messages"
      [ngClass]="{
        'bot__output play-animation': !message.own,
        user__input: message.own,
        text: message.type === 'text',
        image: message.type === 'image'
      }"
    >
      <ng-container *ngIf="message.type === 'text'; else imgMessage">
        {{ message.text }}
      </ng-container>

      <ng-template #imgMessage>
        <img [src]="message.url" alt="Cute Cat" />
      </ng-template>
    </li>
  </ul>

  <div class="chatbox-area">
    <form
      [formGroup]="messageForm"
      class="chatbox-form"
      (submit)="sendMessage()"
    >
      <input type="text" placeholder="Type here..." formControlName="message" />

      <input type="submit" value="send" />
    </form>
  </div>
</div>
