header {
  display: flex;
  justify-content: center;

  .logo {
    margin: 2rem 0;
  }

  .logout {
    position: absolute;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;

    border: 2px solid white;
    width: 2.5rem;
    height: 2.5rem;
    padding: 10px;

    background: transparent;

    border-radius: 8px;
    text-transform: capitalize;

    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: space-around;

    .logo {
      margin: 1rem 0;
    }

    .logout {
      margin: 1rem 0;
      position: relative;
    }
  }
}
