/* FONTS */

@import url(//db.onlinewebfonts.com/c/ac9525e5f200f57332b3080d0db9d8f6?family=Sailec-Medium);

/* GLOBAL STYLES */

$background-color: #333333;

body {
  background: $background-color;
  margin: 0;
}
